  <section>
    {{#with data}}
      <div class="full">
        <div class="">
          <div class="header">
            <figure>
              {{#if company_logo}}
                <img src="{{company_logo}}" alt="logo of {{company}}">
              {{else}}
                <img src="//logo.clearbit.com/{{logoUrl}}" alt="placeholder" onerror="this.src='/images/placeholder.png'">
              {{/if}}
            </figure>
            <div>
              {{#if title}}
                <h2>{{title}}</h2>
              {{/if}}

              {{#if company.name}}
                <h3><a href="{{company.websiteUrl}}">{{company.name}}</a></h3>
              {{/if}}

              {{#if commitment.title}}
                <b>{{commitment.title}}</b>
              {{/if}}
            </div>
            <div class="controls">
              <a href="javascript:history.back()">Back to job list</a>
              <a href="#" class="add-job-to-list full-view" slug="{{slug}}" companySlug="{{company.slug}}">Add to My Jobs</a>
              {{#if applyUrl}}
                <a href="{{applyUrl}}">Apply now</a>
              {{/if}}
            </div>
          </div>
            
          <div class="info">
            {{#if description}}
              <p>{{{filter description "markdown"}}}</p>
            {{/if}}

            {{#if url}}
              <a href="{{url}}"><small></small>Source</a>
            {{/if}}

            {{#if cities}}
              Locations:
                {{#each cities}}
                  <span>{{name}}, {{country.name}} </span>
                {{/each}}
              <br>
            {{/if}}
            {{#if postedAt}}
              <time datetime="{{postedAt}}"><span>Published at {{postedAt}}</span></time>
            {{/if}}
          </div>
        </div>
      {{/with}}
    </div>
  </section>
