<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js" integrity="sha512-quHCp3WbBNkwLfYUMd+KwBAgpVukJu5MncuQaWXgCrfgcxCJAq/fo+oqrRKOj+UKEmyMCG3tb8RB63W+EmrOBg==" crossorigin="anonymous"></script>
  <script defer src="{{googleMapsApi}}"></script>
  <script src="/javascripts/script.js"></script>
</head>
<body>
  <main>
    <header>
      <div class="left">
        <h1>{{title}}</h1> 
      </div>
      <nav>
        {{#unless user}}
        <a href="/login">Login</a>
        <a href="/signup">Sign Up</a>
        {{else}}
        <b>Logged in as {{user.username}}</b>&nbsp;
        <a href="/logout">Logout</a>
        {{/unless}}
        {{#unless dashboard}}
          <a href="/user/dashboard">My Jobs</a>
        {{else}}
          <a href="/">Job list</a>
        {{/unless}}
        
      </nav>
    </header>
    {{{body}}}
  </main>
</body>
</html>