<h1>Welcome {{user.firstName}}</h1>
<h4>"The voyage of discovery is not in looking for new landscapes, but in looking with new eyes." —Anonymous</h4>

<div class="full" id="job-list">

  {{#each jobs}}
  <div class="card dash" id="{{id}}">
    <figure>
      <img src="//logo.clearbit.com/{{job.data.logoUrl}}" alt="placeholder" onerror="this.src='/images/placeholder.png'">
    </figure>

    <div class="info">
      <h2>{{job.data.title}}</h2>
      <h4>{{job.data.company.name}}</h4>

      <p class="status" id="id-{{id}}">
        <span status="0">Interested</span>
        <span status="1">Applied</span>
        <span status="2">On Going</span>
        <span status="3">Unsuccessful</span>
        <span status="4">Not interested anymore</span>
      </p>
    </div>

    <div class="controls">
      <a href="/position/{{job.id.companySlug}}/{{job.id.slug}}">View job</a>
      <a>Notes</a>
      <a href="/user/job/remove/{{job.id.slug}}/{{job.id.companySlug}}">Remove</a>
    </div>
  </div>
  {{/each}}

</div>
<script src="/javascripts/dashboard.js"></script>